<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<div th:object="${estudiante}" th:remove="tag">
    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
</div>

<form th:action="@{/form}" th:object="${estudiante}" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" th:field="*{nombre}" th:errorclass="'form-control is-invalid'"/>
        <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
    </div>
    <div>
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text" th:field="*{apellido}" th:errorclass="'form-control is-invalid'"/>
        <small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="text" th:field="*{email}" th:errorclass="'form-control is-invalid'"/>
        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
    </div>
    <div>
        <label for="grado">Grado</label>
        <input id="grado" type="text" th:field="*{grado}"/>
    </div>
    <div>
        <label for="contacto">Contacto</label>
        <input id="contacto" type="text" th:field="*{contacto}"/>
    </div>
    <div>
        <label for="fecha">Fecha</label>
        <input id="fecha" type="text" th:field="*{createAt}" th:errorclass="'form-control is-invalid'"/>
        <small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
    </div>
    <div>
        <label for="academia" >Academia</label>
        <select id="academia" th:field="*{academia.id}" >
            <option th:each="item: ${academias}"
                    th:value="${item.id}"
                    th:text="${item.nombre}">
            </option>
        </select>
    </div>
    <div>
        <label for="distrito" >Distrito</label>
        <select id="distrito" th:field="*{distrito.id}" >
            <option th:each="item: ${distritos}"
                    th:value="${item.id}"
                    th:text="${item.nombre}">
            </option>
        </select>
    </div>


    <div>
        <td><input type="submit" value="Guardar dato"/></td>
    </div>


    <input type="hidden" th:field="*{id}"/>

</form>
</body>
</html>