<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<a th:href="@{/form}">Crear formulario</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Grado</th>
        <th>Contacto</th>
        <th>Fecha</th>
        <th>Academia</th>
        <th>Editar</th>
        <th>Eliminar</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="estudiante:${estudiantes}">
        <td th:text="${estudiante.id}"></td>
        <td th:text="${estudiante.nombre}"></td>
        <td th:text="${estudiante.apellido}"></td>
        <td th:text="${estudiante.email}"></td>
        <td th:text="${estudiante.grado}"></td>
        <td th:text="${estudiante.contacto}"></td>
        <td th:text="${#dates.format(estudiante.createAt,'dd/MM/yyyy')}"></td>
        <td th:text="${estudiante?.academia?.nombre}"></td>
        <td><a th:href="@{/form/{id}(id=${estudiante.id})}">editar</a></td>
        <td><a th:href="@{/eliminar/{id}(id=${estudiante.id})}">eliminar</a></td>

    </tr>
    </tbody>
</table>

</body>
</html>